<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--mybatis业务文件-->
<mapper namespace="com.yi.blog.mapper.HeaderImgMapper">
<!--    <select id="getUserlist" resultType="com.yi.blog.pojo.user">-->
<!--        select * from mybatisdome.drivedome-->
<!--    </select>-->
</mapper>
