<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--mybatis业务文件-->
<mapper namespace="com.yi.blog.mapper.MenuRoleMapper">
    <select id="getMidByRid" resultType="int" parameterType="int">
SELECT
MID,
rid
FROM
menu_role
WHERE
rid=#{rid}
    </select>

    <delete id="delectMenuRole" parameterType="int">
        DELETE  FROM menu_role WHERE rid=#{rid}
    </delete>
    <update id="updateMenuRole">
        insert into menu_role(mid,rid) values
        <foreach collection="mids" item="mid" separator=",">
            (#{mid},#{rid})
        </foreach>
    </update>
</mapper>
