<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mybatis业务文件-->
<mapper namespace="com.yi.blog.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.yi.blog.pojo.Role">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="nameZh" property="nameZh"></result>
    </resultMap>
    <sql id="Base_column_List">
        id,name ,nameZh
    </sql>
<!--    -->
    <select id="getRoles" resultType="com.yi.blog.pojo.Role" >
SELECT
r.`id`,
r.`name`,
r.`nameZh`
FROM
role AS r
LEFT JOIN admin_role AS ar ON r.`id` = ar.`rid`
WHERE
ar.`admin_username`=#{username}
    </select>
    <select id="getListRoles" resultType="com.yi.blog.pojo.Role">
        select * from blog.role
    </select>
    <delete id="delectRole" parameterType="int">
         delete  from blog.role where id=#{rid}
    </delete>
    <insert id="addRole" parameterType="com.yi.blog.pojo.Role">
        insert into `blog`.`role` (`name`, `nameZh`) values (#{name}, #{nameZh})
    </insert>
</mapper>
